<launch>
  <!-- Robot Spawn Pose -->
  <arg name="x" default="0.0" doc="x poisiton of sawback"/>
  <arg name="y" default="0.0" doc="y poisiton of sawback"/>
  <arg name="z" default="0.0" doc="z poisiton of sawback"/>
  <arg name="yaw" default="0.0" doc="yaw of sawback"/>

  <!-- ros control -->
  <include file="$(find ridgeback_control)/launch/control.launch" />

  <!-- teleop -->
  <include file="$(find ridgeback_control)/launch/teleop.launch">
    <arg name="joystick" value="false"/>
  </include>


  <node name="robot_state_publisher_ridgeback" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- NU ridgeback -->
  <param name="robot_description"
      command="$(find xacro)/xacro '$(find sawback_description)/urdf/nu_ridgeback.urdf.xacro'"/>


  <rosparam param="gazebo_ros_control/pid_gains">
    front_left_wheel:
      p: 1
      i: 0.1
      d: 0
    front_right_wheel:
      p: 1
      i: 0.1
      d: 0
    rear_left_wheel:
      p: 1
      i: 0.1
      d: 0
    rear_right_wheel:
      p: 1
      i: 0.1
      d: 0
  </rosparam>
</launch>
