<launch>
  <!-- simulate sawback in rviz -->
  <!-- arg to use gui -->
  <arg name="use_jsp_gui" default="false" doc="Launch the joint_state_publisher gui to publish joint angles"/>

  <!-- load urdf containing both sawyer and the ridgeback  -->
  <param name="robot_description"
     command="$(find xacro)/xacro $(find sawback_description)/urdf/sawback.urdf.xacro
           gazebo:=false electric_gripper:=true
           pedestal:=false static:=false"/>

 <!-- joint state publisher  -->
 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(eval use_jsp_gui)"/>
 <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(eval use_jsp_gui)"/>

 <!-- robot state publisher -->
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>


  <!-- rviz is a required package -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find sawback_description)/config/sawback.rviz"/>
</launch>
